<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsuarioxeventoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUsuarioxeventoLabel_idusuarioxevento}" for="idusuarioxevento" />
                    <h:inputText id="idusuarioxevento" value="#{usuarioxeventoController.selected.idusuarioxevento}" title="#{bundle.EditUsuarioxeventoTitle_idusuarioxevento}" required="true" requiredMessage="#{bundle.EditUsuarioxeventoRequiredMessage_idusuarioxevento}"/>
                    <h:outputLabel value="#{bundle.EditUsuarioxeventoLabel_idusuario}" for="idusuario" />
                    <h:selectOneMenu id="idusuario" value="#{usuarioxeventoController.selected.idusuario}" title="#{bundle.EditUsuarioxeventoTitle_idusuario}" >
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditUsuarioxeventoLabel_idevento}" for="idevento" />
                    <h:selectOneMenu id="idevento" value="#{usuarioxeventoController.selected.idevento}" title="#{bundle.EditUsuarioxeventoTitle_idevento}" >
                        <f:selectItems value="#{eventoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{usuarioxeventoController.update}" value="#{bundle.EditUsuarioxeventoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUsuarioxeventoViewLink}"/>
                <br />
                <h:commandLink action="#{usuarioxeventoController.prepareList}" value="#{bundle.EditUsuarioxeventoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUsuarioxeventoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
