<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListUsuarioxeventoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListUsuarioxeventoEmpty}" rendered="#{usuarioxeventoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{usuarioxeventoController.items.rowCount > 0}">
                    <h:outputText value="#{usuarioxeventoController.pagination.pageFirstItem + 1}..#{usuarioxeventoController.pagination.pageLastItem + 1}/#{usuarioxeventoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{usuarioxeventoController.previous}" value="#{bundle.Previous} #{usuarioxeventoController.pagination.pageSize}" rendered="#{usuarioxeventoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{usuarioxeventoController.next}" value="#{bundle.Next} #{usuarioxeventoController.pagination.pageSize}" rendered="#{usuarioxeventoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{usuarioxeventoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuarioxeventoTitle_idusuarioxevento}"/>
                            </f:facet>
                            <h:outputText value="#{item.idusuarioxevento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuarioxeventoTitle_idusuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.idusuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuarioxeventoTitle_idevento}"/>
                            </f:facet>
                            <h:outputText value="#{item.idevento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{usuarioxeventoController.prepareView}" value="#{bundle.ListUsuarioxeventoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{usuarioxeventoController.prepareEdit}" value="#{bundle.ListUsuarioxeventoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{usuarioxeventoController.destroy}" value="#{bundle.ListUsuarioxeventoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{usuarioxeventoController.prepareCreate}" value="#{bundle.ListUsuarioxeventoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListUsuarioxeventoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
