<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUsuarioxeventoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUsuarioxeventoLabel_idusuarioxevento}"/>
                    <h:outputText value="#{usuarioxeventoController.selected.idusuarioxevento}" title="#{bundle.ViewUsuarioxeventoTitle_idusuarioxevento}"/>
                    <h:outputText value="#{bundle.ViewUsuarioxeventoLabel_idusuario}"/>
                    <h:outputText value="#{usuarioxeventoController.selected.idusuario}" title="#{bundle.ViewUsuarioxeventoTitle_idusuario}"/>
                    <h:outputText value="#{bundle.ViewUsuarioxeventoLabel_idevento}"/>
                    <h:outputText value="#{usuarioxeventoController.selected.idevento}" title="#{bundle.ViewUsuarioxeventoTitle_idevento}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usuarioxeventoController.destroyAndView}" value="#{bundle.ViewUsuarioxeventoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewUsuarioxeventoEditLink}"/>
                <br />
                <h:commandLink action="#{usuarioxeventoController.prepareCreate}" value="#{bundle.ViewUsuarioxeventoCreateLink}" />
                <br />
                <h:commandLink action="#{usuarioxeventoController.prepareList}" value="#{bundle.ViewUsuarioxeventoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewUsuarioxeventoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
