<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEventoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEventoLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{eventoController.selected.titulo}" title="#{bundle.CreateEventoTitle_titulo}" />
                    <h:outputLabel value="#{bundle.CreateEventoLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{eventoController.selected.descripcion}" title="#{bundle.CreateEventoTitle_descripcion}" />
                    <h:outputLabel value="#{bundle.CreateEventoLabel_fechacomienzo}" for="fechacomienzo" />
                    <h:inputText id="fechacomienzo" value="#{eventoController.selected.fechacomienzo}" title="#{bundle.CreateEventoTitle_fechacomienzo}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateEventoLabel_fechafinal}" for="fechafinal" />
                    <h:inputText id="fechafinal" value="#{eventoController.selected.fechafinal}" title="#{bundle.CreateEventoTitle_fechafinal}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateEventoLabel_tipoevento}" for="tipoevento" />
                    <h:inputText id="tipoevento" value="#{eventoController.selected.tipoevento}" title="#{bundle.CreateEventoTitle_tipoevento}" />
                    <h:outputLabel value="#{bundle.CreateEventoLabel_plazas}" for="plazas" />
                    <h:inputText id="plazas" value="#{eventoController.selected.plazas}" title="#{bundle.CreateEventoTitle_plazas}" />
                    <h:outputLabel value="#{bundle.CreateEventoLabel_idsede}" for="idsede" />
                    <h:selectOneMenu id="idsede" value="#{eventoController.selected.idsede}" title="#{bundle.CreateEventoTitle_idsede}" >
                        <f:selectItems value="#{sedeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{eventoController.create}" value="#{bundle.CreateEventoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{eventoController.prepareList}" value="#{bundle.CreateEventoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEventoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
