<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEventoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEventoLabel_idevento}"/>
                    <h:outputText value="#{eventoController.selected.idevento}" title="#{bundle.ViewEventoTitle_idevento}"/>
                    <h:outputText value="#{bundle.ViewEventoLabel_titulo}"/>
                    <h:outputText value="#{eventoController.selected.titulo}" title="#{bundle.ViewEventoTitle_titulo}"/>
                    <h:outputText value="#{bundle.ViewEventoLabel_descripcion}"/>
                    <h:outputText value="#{eventoController.selected.descripcion}" title="#{bundle.ViewEventoTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewEventoLabel_fechacomienzo}"/>
                    <h:outputText value="#{eventoController.selected.fechacomienzo}" title="#{bundle.ViewEventoTitle_fechacomienzo}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewEventoLabel_fechafinal}"/>
                    <h:outputText value="#{eventoController.selected.fechafinal}" title="#{bundle.ViewEventoTitle_fechafinal}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewEventoLabel_tipoevento}"/>
                    <h:outputText value="#{eventoController.selected.tipoevento}" title="#{bundle.ViewEventoTitle_tipoevento}"/>
                    <h:outputText value="#{bundle.ViewEventoLabel_plazas}"/>
                    <h:outputText value="#{eventoController.selected.plazas}" title="#{bundle.ViewEventoTitle_plazas}"/>
                    <h:outputText value="#{bundle.ViewEventoLabel_idsede}"/>
                    <h:outputText value="#{eventoController.selected.idsede}" title="#{bundle.ViewEventoTitle_idsede}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{eventoController.destroyAndView}" value="#{bundle.ViewEventoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEventoEditLink}"/>
                <br />
                <h:commandLink action="#{eventoController.prepareCreate}" value="#{bundle.ViewEventoCreateLink}" />
                <br />
                <h:commandLink action="#{eventoController.prepareList}" value="#{bundle.ViewEventoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEventoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
