<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateSedeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateSedeLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{sedeController.selected.nombre}" title="#{bundle.CreateSedeTitle_nombre}" />
                    <h:outputLabel value="#{bundle.CreateSedeLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{sedeController.selected.direccion}" title="#{bundle.CreateSedeTitle_direccion}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{sedeController.create}" value="#{bundle.CreateSedeSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{sedeController.prepareList}" value="#{bundle.CreateSedeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateSedeIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
