<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditSedeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditSedeLabel_idsede}" for="idsede" />
                    <h:inputText id="idsede" value="#{sedeController.selected.idsede}" title="#{bundle.EditSedeTitle_idsede}" required="true" requiredMessage="#{bundle.EditSedeRequiredMessage_idsede}"/>
                    <h:outputLabel value="#{bundle.EditSedeLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{sedeController.selected.nombre}" title="#{bundle.EditSedeTitle_nombre}" />
                    <h:outputLabel value="#{bundle.EditSedeLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{sedeController.selected.direccion}" title="#{bundle.EditSedeTitle_direccion}" />
                </h:panelGrid>
                <h:commandLink action="#{sedeController.update}" value="#{bundle.EditSedeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditSedeViewLink}"/>
                <br />
                <h:commandLink action="#{sedeController.prepareList}" value="#{bundle.EditSedeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditSedeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
