<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSedeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSedeEmpty}" rendered="#{sedeController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{sedeController.items.rowCount > 0}">
                    <h:outputText value="#{sedeController.pagination.pageFirstItem + 1}..#{sedeController.pagination.pageLastItem + 1}/#{sedeController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{sedeController.previous}" value="#{bundle.Previous} #{sedeController.pagination.pageSize}" rendered="#{sedeController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{sedeController.next}" value="#{bundle.Next} #{sedeController.pagination.pageSize}" rendered="#{sedeController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{sedeController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSedeTitle_idsede}"/>
                            </f:facet>
                            <h:outputText value="#{item.idsede}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSedeTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSedeTitle_direccion}"/>
                            </f:facet>
                            <h:outputText value="#{item.direccion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{sedeController.prepareView}" value="#{bundle.ListSedeViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{sedeController.prepareEdit}" value="#{bundle.ListSedeEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{sedeController.destroy}" value="#{bundle.ListSedeDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{sedeController.prepareCreate}" value="#{bundle.ListSedeCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListSedeIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
