<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSedeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSedeLabel_idsede}"/>
                    <h:outputText value="#{sedeController.selected.idsede}" title="#{bundle.ViewSedeTitle_idsede}"/>
                    <h:outputText value="#{bundle.ViewSedeLabel_nombre}"/>
                    <h:outputText value="#{sedeController.selected.nombre}" title="#{bundle.ViewSedeTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewSedeLabel_direccion}"/>
                    <h:outputText value="#{sedeController.selected.direccion}" title="#{bundle.ViewSedeTitle_direccion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{sedeController.destroyAndView}" value="#{bundle.ViewSedeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSedeEditLink}"/>
                <br />
                <h:commandLink action="#{sedeController.prepareCreate}" value="#{bundle.ViewSedeCreateLink}" />
                <br />
                <h:commandLink action="#{sedeController.prepareList}" value="#{bundle.ViewSedeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewSedeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
