<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/evento/List" value="Show All Evento Items"/>
        <br />
        <h:link outcome="/sede/List" value="Show All Sede Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
        <br />
        <h:link outcome="/usuarioxevento/List" value="Show All Usuarioxevento Items"/>
    </h:body>




</html>

